.sidebar-nav {
    margin-top: 20px;
    padding: none;
    list-style: none;
    position: relative;
}
body {
    background-image: url(../images/lib.jpg);
    background-size: cover;
    font-style: normal;
    background-repeat: no-repeat;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .col-sm-2{
        width: 110px;
    }
    .col-sm-2 li a{
        display: none;
        justify-content: center;
    }
    .col-sm-2 li a i{
        margin-right: 0;

    }
}
